body{
    margin-left: 20px;
}
h1{
    color:#6666CC;
}
h2{
    color:#9999FF;
}
h3{
    color:#6666CC;
}
.cinza{
    color:#808080;
    font-family: Verdana;
    font-size: 10pt;
    font-weight: bold;    
}
img{
    width: 380px;
    height: 298px;
}
.celular{
    Display:flex;
    margin-left: 20px;
}
.tel{
    padding-top: 30px;
}
p{
    text-align: justify;
}
a{
    color: red;
    font-weight: bold;
}